{% extends 'datatable.twig' %}

{% set translations_ai_250613 = {
    'nl': {
        'forms': 'Formulieren',

        'add': 'Toevoegen',
        'archive': 'Archief',
        'archive_form': 'Formulier archiveren',
        'close': 'Sluiten',
        'no': 'Nee',
        'archive_question': 'Weet u zeker dat u het formulier wilt archiveren?',
        'restore_form': 'Formulier herstellen',
        'restore_question': 'Weet u zeker dat u het formulier wilt herstellen?',
        'yes': 'Ja',
    },
    'fr': {
        'forms': 'Formulaires',

        'add': 'Ajouter',
        'archive': 'Archive',
        'archive_form': 'Archiver le formulaire',
        'close': 'Fermer',
        'no': 'Non',
        'archive_question': 'Êtes-vous sûr de vouloir archiver le formulaire ?',
        'restore_form': 'Restaurer le formulaire',
        'restore_question': 'Êtes-vous sûr de vouloir restaurer le formulaire ?',
        'yes': 'Oui',
    },
    'en': {
        'forms': 'Forms',

        'add': 'Add',
        'archive': 'Archive',
        'archive_form': 'Archive Form',
        'close': 'Close',
        'no': 'No',
        'archive_question': 'Are you sure you want to archive the form?',
        'restore_form': 'Restore Form',
        'restore_question': 'Are you sure you want to restore the form?',
        'yes': 'Yes',
    }
} %}

{% block js %}
    {{ parent() }}
    <script>
        let variables = {
            access: '{{ rights.access }}',
            write: '{{ rights.write }}',
            read: '{{ rights.read }}',
            delete: '{{ rights.delete }}',
        }
    </script>
    <script src="{{ BASE_URL }}/vendor/tigress/form-builder/public/javascript/forms/answers_index.js"></script>
{% endblock %}
{% block title %}{{ trans('forms', translations_ai_250613) }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" data-bs-theme="dark">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/forms">{{ trans('forms', translations_ai_250613) }}</a></li>
                    <li class="breadcrumb-item active">{{ form.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>{{ trans('forms', translations_ai_250613) }}</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-sm-12 table-responsive">
                            <table id="dataTableAnswers" class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}