{% set translations_eqm_250612 = {
    'nl': {
        'add': 'Toevoegen',
        'attention': 'Opgelet',
        'attention_message': 'Weet je zeker dat je de wijzigingen wilt opslaan?',
        'cancel': 'Annuleren',
        'close': 'Sluiten',
        'confirm_add_extra_section': 'Bevestig toevoegen extra sectie',
        'confirm_add_question': 'Bevestig toevoegen vraag',
        'confirm_add_question_message': 'Weet je zeker dat je een nieuwe vraag wilt toevoegen?',
        'confirm_delete_section': 'Bevestig verwijderen sectie',
        'confirm_delete_section_message': 'Weet je zeker dat je deze sectie-tabel wilt verwijderen?',
        'confirm_delete_question': 'Bevestig verwijderen vraag',
        'confirm_delete_question_message': 'Weet je zeker dat je deze vraag wilt verwijderen?',
        'delete': 'Verwijderen',
        'description_extra_section': 'Beschrijving om weer te geven in de extra sectie:',
        'name_extra_section': 'Naam van de extra sectie:',
        'no': 'Nee',
        'yes': 'Ja',
    },
    'fr': {
        'add': 'Ajouter',
        'attention': 'Attention',
        'attention_message': 'Êtes-vous sûr de vouloir enregistrer les modifications ?',
        'cancel': 'Annuler',
        'close': 'Fermer',
        'confirm_add_extra_section': 'Confirmer l\'ajout d\'une section',
        'confirm_add_question': 'Confirmer l\'ajout d\'une question',
        'confirm_add_question_message': 'Êtes-vous sûr de vouloir ajouter une nouvelle question ?',
        'confirm_delete_section': 'Confirmer la suppression d\'une section',
        'confirm_delete_section_message': 'Êtes-vous sûr de vouloir supprimer cette table de section ?',
        'confirm_delete_question': 'Confirmer la suppression d\'une question',
        'confirm_delete_question_message': 'Êtes-vous sûr de vouloir supprimer cette question ?',
        'delete': 'Supprimer',
        'description_extra_section': 'Description à afficher dans la section supplémentaire :',
        'name_extra_section': 'Nom de la section supplémentaire :',
        'no': 'Non',
        'yes': 'Oui',
    },
    'en': {
        'add': 'Add',
        'attention': 'Attention',
        'attention_message': 'Are you sure you want to save the changes?',
        'cancel': 'Cancel',
        'close': 'Close',
        'confirm_add_extra_section': 'Confirm adding a section',
        'confirm_add_question': 'Confirm adding a question',
        'confirm_add_question_message': 'Are you sure you want to add a new question?',
        'confirm_delete_section': 'Confirm removing a section',
        'confirm_delete_section_message': 'Are you sure you want to delete this section table?',
        'confirm_delete_question': 'Confirm removing a question',
        'confirm_delete_question_message': 'Are you sure you want to delete this question?',
        'delete': 'Delete',
        'description_extra_section': 'Description to show in the extra section:',
        'name_extra_section': 'Name of the extra section:',
        'no': 'No',
        'yes': 'Yes',
    }
} %}

<!-- Modal: Bevestiging, sectie-tabel verwijderen -->
<div class="modal fade" id="confirm-delete-section-modal" tabindex="-1" aria-labelledby="confirmDeleteLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ trans('confirm_delete_section', translations_eqm_250612) }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close', translations_eqm_250612) }}"></button>
            </div>
            <div class="modal-body">
                {{ trans('confirm_delete_section_message', translations_eqm_250612) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" id="confirm-delete-section-btn">{{ trans('delete', translations_eqm_250612) }}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ trans('cancel', translations_eqm_250612) }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Bevestiging, extra sectie toevoegen -->
<form id="confirm-add-extra-section-form" action="{{ BASE_URL }}/forms/add/section/{{ form.id }}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="confirm-add-extra-section-modal" tabindex="-1" aria-labelledby="confirmAddLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ trans('confirm_add_extra_section', translations_eqm_250612) }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close', translations_eqm_250612) }}"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2 form-group">
                        <div class="col-sm-12">
                            <label for="name" class="form-label"><b>{{ trans('name_extra_section', translations_eqm_250612) }}</b></label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="col-sm-12 mt-2">
                            <label for="description" class="form-label"><b>{{ trans('description_extra_section', translations_eqm_250612) }}</b></label>
                            <textarea class="form-control auto-grow" id="description" name="description" rows="1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="confirm-add-extra-section-btn">{{ trans('add', translations_eqm_250612) }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ trans('cancel', translations_eqm_250612) }}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal: Bevestiging, vraag verwijderen -->
<div class="modal fade" id="confirm-delete-question-modal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ trans('confirm_delete_question', translations_eqm_250612) }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close', translations_eqm_250612) }}"></button>
            </div>
            <div class="modal-body">
                {{ trans('confirm_delete_question_message', translations_eqm_250612) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" id="confirm-delete-question-btn">{{ trans('delete', translations_eqm_250612) }}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ trans('cancel', translations_eqm_250612) }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Bevestiging toevoegen vraag -->
<div class="modal fade" id="confirm-add-question-modal" tabindex="-1" aria-labelledby="confirmAddLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ trans('confirm_add_question', translations_eqm_250612) }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close', translations_eqm_250612) }}"></button>
            </div>
            <div class="modal-body">
                {{ trans('confirm_add_question_message', translations_eqm_250612) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="confirm-add-question-btn">{{ trans('add', translations_eqm_250612) }}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ trans('cancel', translations_eqm_250612) }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dialog -->
<form id="form-all" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
    <div class="modal fade" id="confirm-submit" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ trans('attention', translations_eqm_250612) }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close', translations_eqm_250612) }}"></button>
                </div>
                <div class="modal-body">
                    {{ trans('attention_message', translations_eqm_250612) }}
                </div>
                <div class="modal-footer">
                    <a href="#" id="submit-all" class="btn btn-success success">{{ trans('yes', translations_eqm_250612) }}</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ trans('no', translations_eqm_250612) }}</button>
                </div>
                <div class="row">
                    <div class="form-actions col-md-12">
                        <p class="message-error alert alert-danger mt-2" id="error-message"
                           style="display: none"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>