{% extends 'base.twig' %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ BASE_URL }}/vendor/tigress/form-builder/public/javascript/forms/edit.js"></script>
{% endblock %}
{% block title %}{{ __('Forms') }} - {{ actionButton }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" data-bs-theme="{{ WEBSITE.mode }}">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/forms">{{ __('Forms') }}</a></li>
                    <li class="breadcrumb-item active">{{ actionButton }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>{{ __('Forms') }} - {{ actionButton }}</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12">
                <form action="{{ BASE_URL }}/forms/save" method="post" enctype="multipart/form-data"
                      accept-charset="UTF-8" id="editForm">
                    <fieldset>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <input type="hidden" name="id" value="{{ form.id }}">
                                <label for="name" class="form-label"><b>{{ __('Name of the form') }}</b></label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="{{ __('Name of the form') }}" value="{{ form.name }}" required>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <label for="type_id" class="form-label"><b>{{ __('Screen type') }}</b></label>
                                <select class="form-control" id="type_id" name="type_id" required>
                                    <option value="">{{ __('Choose screen type') }}</option>
                                    <option value="1"
                                            {% if form.type_id == 1 %}selected{% endif %}>{{ __('Mobile') }}</option>
                                    <option value="2"
                                            {% if form.type_id == 2 %}selected{% endif %}>{{ __('Desktop') }}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="form_reference"
                                       class="form-label"><b>{{ __('Form reference (for URL)') }}</b></label>
                                <input type="text" class="form-control" id="form_reference" name="form_reference"
                                       placeholder="{{ __('Form reference') }}" value="{{ form.form_reference }}">
                            </div>
                            <div class="col-sm-3">
                                <label for="db_table" class="form-label"><b>{{ __('Database table') }}</b></label>
                                <input type="text" class="form-control" id="db_table" name="db_table"
                                       value="{{ form.db_table }}">
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col-sm-3">
                                {{ add_slider('repeat_button', form.repeat_button, '<b>' ~ __('Show repeat button') ~ '</b>')|raw }}
                            </div>
                            <div class="col-sm-3">
                                {{ add_slider('external_access', form.external_access, '<b>' ~ __('Activate external access') ~ '</b>')|raw }}
                            </div>
                            <div class="col-sm-3" id="show_hide_external" style="display: none">
                                <label for="form_reference_external" class="form-label"><b>{{ __('Form External QR-code') }}</b></label>
                                <input type="text" class="form-control" id="form_reference_external"
                                       name="form_reference_external"
                                       placeholder="{{ __('Form reference for external access') }}"
                                       value="{{ form.form_reference_external }}">
                            </div>
                        </div>
                    </fieldset>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success" id="save_form"><i class="fa fa-save"></i>
                                {{ actionButton }}
                            </button>
                            <a href="javascript:history.back()" class="btn btn-danger"><i class="fa fa-times"></i>
                                {{ __('Cancel') }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}