{% extends 'base.twig' %}
{% if form.db_table is not empty %}
    {% set database = true %}
{% else %}
    {% set database = false %}
{% endif %}

{% block js %}
    {{ parent() }}
    <script>
        let language = {
            translations: {{ translations|json_encode|raw }},
        }
    </script>
    <script src="{{ BASE_URL }}/vendor/tigress/form-builder/public/javascript/forms/form_index.js"></script>
{% endblock %}
{% block title %}{{ __('Forms') }} - {{ form.name }}{% endblock %}
{% block content %}
    <div class="{% if form.type_id == 1 %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ form.name }}</h1>
            </div>
        </div>
        <form accept-charset="UTF-8" autocomplete="on" class="survey-form" enctype="multipart/form-data"
              id="form" method="POST">
            <input type="hidden" name="db_table" value="{{ form.db_table }}">
            <div class="row mb-2">
                <div class="col-sm-12">
                    {% if numberOfSections > 1 %}
                        <div class="steps mb-3">
                            <div class="step current"></div>
                            {% for i in 2..numberOfSections %}
                                <div class="step"></div>
                            {% endfor %}
                        </div>
                        {% set step = 1 %}
                        {% for formsSection in formsSections %}
                            <div class="step-content{% if step == 1 %} current{% endif %}"
                                 data-step="{{ step }}"{% if step != 1 %} style="display: none;"{% endif %}>
                                <fieldset>
                                    <legend>{{ formsSection.name }}</legend>
                                    {% if formsSection.description %}
                                        <p><i>{{ formsSection.description|nl2br }}</i></p>
                                    {% endif %}
                                    <div class="row mb-2">
                                        {% for data in formsQuestions %}
                                            {% if data.forms_section_id == formsSection.id %}
                                                {% if form.type_id == 1 %}
                                                    {% include 'forms/form_builder_elements.twig' with {
                                                        data: data,
                                                        mobile: true,
                                                        database: database,
                                                    } %}
                                                {% else %}
                                                    {% include 'forms/form_builder_elements.twig' with {
                                                        data: data,
                                                        mobile: false,
                                                        database: database,
                                                    } %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </fieldset>
                                <div class="d-flex justify-content-between">
                                    {% if step == 1 %}
                                        <button class="btn btn-info" data-set-step="0"
                                                disabled>{{ __('Previous') }}</button>
                                        <a href="#" class="btn btn-info"
                                           data-set-step="{{ step + 1 }}">{{ __('Next') }}</a>
                                    {% elseif step == numberOfSections %}
                                        <a href="#" class="btn btn-info"
                                           data-set-step="{{ step - 1 }}">{{ __('Previous') }}</a>
                                        <button type="button" name="btn" value="Submit" id="submitFrm"
                                                class="btn btn-success" data-toggle="modal"
                                                data-target="#confirm-submit">
                                            {{ __('Submit') }}
                                        </button>
                                        <button class="btn btn-info" data-set-step="0"
                                                disabled>{{ __('Next') }}</button>
                                    {% else %}
                                        <a href="#" class="btn btn-info"
                                           data-set-step="{{ step - 1 }}">{{ __('Previous') }}</a>
                                        <a href="#" class="btn btn-info"
                                           data-set-step="{{ step + 1 }}">{{ __('Next') }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% set step = step + 1 %}
                        {% endfor %}
                    {% else %}
                        <fieldset>
                            <legend>{{ formsSections[0].name }}</legend>
                            {% if formsSections[0].description %}
                                <p>{{ formsSections[0].description|nl2br }}</p>
                            {% endif %}
                            <div class="row mb-2">
                                {% for data in formsQuestions %}
                                    {% if data.forms_section_id == formsSections[0].id %}
                                        {% if form.type_id == 1 %}
                                            {% include 'forms/form_builder_elements.twig' with {
                                                data: data,
                                                mobile: true,
                                                database: database,
                                            } %}
                                        {% else %}
                                            {% include 'forms/form_builder_elements.twig' with {
                                                data: data,
                                                mobile: false,
                                                database: database,
                                            } %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </fieldset>
                        <div class="d-flex justify-content-between">
                            <button type="button" name="btn" value="Submit" id="submitFrm" class="btn btn-success"
                                    data-toggle="modal" data-target="#confirm-submit">{{ __('Submit') }}</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-actions col-md-12 text-center">
                <p class="message-error alert alert-danger mt-2" id="error-message" style="display: none"></p>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ __('Attention') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="{{ __('Close') }}"></button>
                </div>
                <div class="modal-body">{{ __('Do you want to submit the form?') }}</div>
                <div class="modal-footer">
                    <a href="#" id="submit" class="btn btn-success success">{{ __('Yes') }}</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ __('No') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
