{% extends 'datatable.twig' %}
{% block js %}
    {{ parent() }}
    <script>
        let variables = {
            show: '{{ _GET.show }}',
            access: '{{ rights.access }}',
            write: '{{ rights.write }}',
            read: '{{ rights.read }}',
            delete: '{{ rights.delete }}',
        }
        let language = {
            translations: {{ translations|json_encode|raw }},
        }
    </script>
    <script src="{{ BASE_URL }}/vendor/tigress/form-builder/public/javascript/forms/index.js"></script>
{% endblock %}
{% block title %}{{ __('Forms') }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" data-bs-theme="{{ WEBSITE.mode }}">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">{{ __('Forms') }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h3>{{ __('Forms') }}</h3>
            </div>
            <div class="col-sm-4 text-end">
                {% if _GET.show == 'archive' %}
                    <a href="{{ BASE_URL }}/forms" class="btn btn-warning"><i class="fa fa-archive"></i> {{ __('Archive') }}</a>
                {% else %}
                    <a href="{{ BASE_URL }}/forms?show=archive" class="btn btn-outline-warning"><i class="fa fa-archive"></i> {{ __('Archive') }}</a>
                {% endif %}
                {% if rights.write %}
                    <a href="{{ BASE_URL }}/forms/edit/0" class="btn btn-success"><i class="fa-solid fa-plus"></i>
                        {{ __('Add') }}</a>
                {% endif %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <fieldset class="mt-2">
                    <div class="row mb-2">
                        <div class="col-sm-12 table-responsive">
                            <table id="dataTableForms" class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    {# Modal Remove Form #}
    <form action="{{ BASE_URL }}/forms/delete" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="ModalFormsDelete" tabindex="-1" aria-labelledby="ModalFormsDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalFormsDeleteLabel">{{ __('Archive Form') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('Close') }}"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalContent">{{ __('Are you sure you want to archive the form?') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button id="DeleteForm" name="DeleteForm" value="" type="submit" class="btn btn-success">{{ __('Yes') }}</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ __('No') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {# Modal Restore Form #}
    <form action="{{ BASE_URL }}/forms/restore" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="ModalFormsRestore" tabindex="-1" aria-labelledby="ModalFormsRestoreLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalFormsDeleteLabel">{{ __('Restore Form') }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('Close') }}"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalContent">{{ __('Are you sure you want to restore the form?') }}</p>
                    </div>
                    <div class="modal-footer">
                        <button id="RestoreForm" name="RestoreForm" value="" type="submit" class="btn btn-success">{{ __('Yes') }}</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{{ __('No') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}