{% extends 'base.twig' %}
{% block title %}Bevraging - {{ actionButton }}{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" data-bs-theme="dark">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/bevragingen">Bevragingen</a></li>
                    <li class="breadcrumb-item active">QR-code: {{ bevraging.naam }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>QR-code: {{ bevraging.naam }}</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12">
                <fieldset class="text-center">
                    <p>{{ url }}</p>
                    <p>
                        <img src="{{ qrImage }}" alt="QR Code" class="img-fluid">
                    </p>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}