{% extends 'base.twig' %}
{% block title %}{{ __('Forms') }} - {{ __('Overview') }} {{ __('Answers') }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ __('Answers') }}: {{ form.name }}</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12">
                <fieldset>
                    {% for formsSection in formsSections %}
                        <fieldset class="no-break">
                            <legend><h3>{{ formsSection.name }}</h3></legend>
                            {% if formsSection.description %}
                                <p><i>{{ formsSection.description|nl2br }}</i></p>
                            {% endif %}
                            <div class="row">
                                {% for data in formsAnswers %}
                                    {% if data.section__id == formsSection.id %}
                                        <div class="col-md-12 mb-3">
                                            <strong>{{ strip_dangerous_tags(data.question__question)|raw|nl2br }}</strong>
                                            <div class="form-answer">
                                                {% include 'forms/form_builder_elements_answers.twig' with {
                                                    data: data,
                                                } %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </fieldset>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
