{% extends 'base.twig' %}

{% set translations_sq_250612 = {
    'nl': {
        'forms': 'Formulieren',
    },
    'fr': {
        'forms': 'Formulaires',
    },
    'de': {
        'forms': 'Formulare',
    },
    'es': {
        'forms': 'Formularios',
    },
    'it': {
        'forms': 'Moduli',
    },
    'en': {
        'forms': 'Forms',
    }
} %}

{% block title %}{{ trans('forms', translations_sq_250612) }} - QR-code{% endblock %}
{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" data-bs-theme="dark">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ BASE_URL }}/forms">{{ trans('forms', translations_sq_250612) }}</a></li>
                    <li class="breadcrumb-item active">QR-code: {{ form.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>QR-code: {{ form.name }}</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-12">
                <fieldset class="text-center">
                    <p>{{ url }}</p>
                    <p>
                        <img src="{{ qrImage }}" alt="QR Code" class="img-fluid">
                    </p>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}